.c-app {
  p {
    text-align: center;
    margin: 20px 0;
  }
  .c-app__download {
    display: flex;
    justify-content: center;
    cursor: pointer;
    img {
      max-width: 140px;
      max-height: 40px;
      &:nth-child(2) {
        margin-left: 8px;
      }
      
    }
  }
}
